@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-weight: bold;
    user-select: none;
}

body {
    background-color: rgb(33, 33, 33);
}

canvas {
    box-shadow: 0 0 10px 2px white;
    margin-top: 1vh;
    max-width: 90vw;
    max-height: 85vh;
}

.canvas-wrapper {
    text-align: center;
    width: 100%;
}

.instructions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 10vh;
    font-size: 5vh;
}

.instruction {
    border-left: solid 1px white;
    border-right: solid 1px white;
    background-color: rgb(50, 52, 52);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
}

.instruction-move {
    width: 25%;
}

.instruction-jump {
    width: 50%;
}
